*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
#space{
    width: 100vw;
    height: 100vh;
    border: 3px solid coral;
    background-color: rgb(139, 183, 183);
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.good{
    height: 30vh;
    width: 20vw;
    border: solid 2px black;
    display: flex;
    justify-content: space-evenly;
    
}
.good img{
    height: 30vh;
    width: 30vw;

}